<launch>

    <node pkg = "tf"
          type = "static_transform_publisher"
          name = "rtabmap_broadcaster"
          args = "0.26 0 0.22 0 0 0 1 base_init rtabmap_init 10"
          output = "screen">
    </node>

    <node pkg = "pcl_ros"
          type = "pcd_to_pointcloud"
          name = "rtabmap_cloud_node"
          args = "/mnt/WD500/UFMG/JINT/NEW/average/average.pcd 30.0
                  cloud_pcd:=/rtabmap/points2 _frame_id:=rtabmap_init"
          output = "screen">
    </node>

    <node pkg = "point_cloud_converter"
          type = "point_cloud_converter_node"
          name = "rtabmap_converter_node"
          args = "points2_in:=rtabmap/points2 points_out:=rtabmap/points"
          output = "screen">
    </node>

    <node pkg = "rviz"
          type = "rviz"
          name = "rviz_node"
          args = "-d /home/rafael/Dropbox/UFMG/Results/2011_JINT/cloud_pcd.rviz"
          output = "screen">
    </node>

</launch>
