<launch>

 
    <arg name="ekf_used" default="true"/>


    <!-- WITHOUT IMU -->

    <include file="$(find robot_pose_ekf_modified)/launch/robot_pose_ekf_modified.launch">
        <arg name="imu_name" value="noimu"/>
        <arg name="imu_topic" value=""/>
        <arg name="ekf_used" value="$(arg ekf_used)"/>
    </include>


    <!-- IMU FROM XSENS -->

    <include file="$(find robot_pose_ekf_modified)/launch/robot_pose_ekf_modified.launch">
        <arg name="imu_name" value="xsens"/>
        <arg name="imu_topic" value="/xsens/imu"/>
        <arg name="ekf_used" value="$(arg ekf_used)"/>
    </include>


    <!-- IMU FROM REALSENSE -->

    <include file="$(find robot_pose_ekf_modified)/launch/robot_pose_ekf_modified.launch">
        <arg name="imu_name" value="realsense"/>
        <arg name="imu_topic" value="/realsense/imu"/>
        <arg name="ekf_used" value="$(arg ekf_used)"/>
    </include>


    <!-- IMU FROM OUSTER -->

    <include file="$(find robot_pose_ekf_modified)/launch/robot_pose_ekf_modified.launch">
        <arg name="imu_name" value="ouster"/>
        <arg name="imu_topic" value="/ouster/imu"/>
        <arg name="ekf_used" value="$(arg ekf_used)"/>
    </include>


</launch>
