<launch>

    <arg name = "rgb_img"    default = "/rtabmap/rgb/image_raw"/>
    <arg name = "rgb_info"   default = "/rtabmap/rgb/camera_info"/>
    <arg name = "depth_img"  default = "/rtabmap/depth/image_rect_raw"/>
    <arg name = "depth_info" default = "/rtabmap/depth/camera_info"/>


    <node pkg = "rtabmap_ros"
          type = "rtab_broadcaster_ufmg.py"
          name = "rtab_broadcaster_node"
          args = "_yaml_file:='$(find rtabmap_ros)/config/espeleo_ufmg.yaml'"
          output = "screen">
    </node>


    <node pkg = "rtabmap_ros"
          type = "topic_repub.py"
          name = "rtab_repub_node"
          args = "_topics:='Imu        /imu/data                                 /rtabmap/imu      rtab_imu
                            Image      /d435i/aligned_depth_to_color/image_raw   $(arg rgb_img)    rtab_rgb
                            CameraInfo /d435i/aligned_depth_to_color/camera_info $(arg rgb_info)   rtab_rgb
                            Image      /d435i/depth/image_rect_raw               $(arg depth_img)  rtab_depth
                            CameraInfo /d435i/depth/camera_info                  $(arg depth_info) rtab_depth'"
          output = "screen"/>


    <group ns = "rtabmap">

        <node pkg = "nodelet"
              type = "nodelet"
              name = "rgbd_sync"
              args = "standalone rtabmap_ros/rgbd_sync"
              output = "screen">
            <remap from = "rgb/image"       to="$(arg rgb_img)"/>
            <remap from = "depth/image"     to="$(arg depth_img)"/>
            <remap from = "rgb/camera_info" to="$(arg rgb_info)"/>
            <param name = "approx_sync"     type = "bool"   value = "true"/>
        </node>

    </group>


    <include file = "$(find rtabmap_ros)/launch/rtabmap.launch" if="true">

        <arg name = "rgb_topic"               value = "/rtabmap/rgb/image_raw"/>
        <arg name = "depth_topic"             value = "/rtabmap/depth/image_rect_raw"/>
        <arg name = "camera_info_topic"       value = "/rtabmap/rgb/camera_info"/>
        <arg name = "depth_camera_info_topic" value = "/rtabmap/depth/camera_info"/>

        <arg name = "args"                    value = "--delete_db_on_start
                                                       --Optimizer/GravitySigma 0.3
                                                       --Odom/Holonomic false
                                                       --Odom/ResetCountdown 1
                                                       --Rtabmap/StartNewMapOnLoopClosure true
                                                       --Odom/Strategy 1"/>

        <arg name = "queue_size"              value = "10"/>
        <arg name = "approx_sync"             value = "true"/>
        <arg name = "wait_imu_to_init"        value = "false"/>
        <arg name = "visual_odometry"         value = "true"/>

        <arg name = "odom_topic"              value = "/rtabmap/odom"/>
        <arg name = "imu_topic"               value = "/rtabmap/imu"/>
        <arg name = "map_frame_id"            value = "rtab_init"/>
        <arg name = "frame_id"                value = "rtab_pose"/>
        <arg name = "use_sim_time"            value = "true"/>
        <arg name = "rtabmapviz"              value = "true"/>
        <arg name = "rviz"                    value = "false"/>

    </include>


</launch>
