<launch>


    <arg name = "chassis_forward"    default = "0 0 0.15 0 0 0 1"/>
    <arg name = "xsens_forward"      default = "0 0 0.075 0 0 0 1"/>
    <arg name = "os1_forward"        default = "0 0 0.2525 0 0 0 1"/>
    <arg name = "d435i_forward"      default = "0.28 0 0.055 0 0 0 1"/>
    <arg name = "chassis_backward"   default = "0 0 0.15 0 0 0 1"/>
    <arg name = "xsens_backward"     default = "0 0 0.075 0 0 0 1"/>
    <arg name = "os1_backward"       default = "0 0 0.2525 0 0 0 1"/>
    <arg name = "d435i_backward"     default = "0.28 0 0.055 0 0 0 1"/>

    <node pkg = "tf"
          type = "static_transform_publisher"
          name = "ekf_init_broadcaster"
          args = "0 0 0 0 0 0 1 chassis_init ekf_init 100"
          output = "screen">
    </node>

    <node pkg = "tf"
          type = "static_transform_publisher"
          name = "ekf_chassis_broadcaster"
          args = "0 0 0 0 0 0 1 ekf_pose ekf_chassis 100"
          output = "screen">
    </node>

    <node pkg = "tf"
          type = "static_transform_publisher"
          name = "ekf_base_broadcaster"
          args = "$(arg chassis_backward) ekf_chassis ekf_base 100"
          output = "screen">
    </node>

    <node pkg = "tf"
          type = "static_transform_publisher"
          name = "ekf_imu_broadcaster"
          args = "$(arg xsens_forward) ekf_chassis ekf_imu 100"
          output = "screen">
    </node>


</launch>
